/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Particle background styling */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    background-color: #000;
}

.container {
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
}

/* Logo container */
.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
}

/* Logo image with scaling */
.logo-image {
    width: 90px;
    transition: transform 0.8s ease;
}


.panel {
    position: absolute;
    top: 50%;
    height: 30px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    transition: all 0.7s ease;
    padding: 15px;
    border-radius: 0px;
    width: 0; /* Initially hidden */
}

.panel:hover{
    background-color: #555;
    font-size: 1.1rem;
}

/* Left panels positioned side by side */
.panel-left {
    transform: translateX(-350%);
    border-radius: 10px 0 0 10px;
}

/* Right panels positioned side by side */
.panel-right {
    transform: translateX(350%);
    border-radius: 0 10px 10px 0;
}

/* Hover effect to scale logo */
.logo:hover .logo-image,
.logo.opened .logo-image { 
    transform: scale(1.2);
}

/* Reveal panels on hover */
.logo:hover .panel,
.logo.opened .panel { 
    width: 100px;
    opacity: 1;
}

/* Left panel positions */
.logo:hover .panel-left:nth-of-type(2),
.logo.opened .panel-left:nth-of-type(2) {
    transform: translateY(-0%) translateX(-120px);
}
.logo:hover .panel-left:nth-of-type(3),
.logo.opened .panel-left:nth-of-type(3) {
    transform: translateY(-0%) translateX(-240px);
}
.logo:hover .panel-left:nth-of-type(4),
.logo.opened .panel-left:nth-of-type(4) {
    transform: translateY(-0%) translateX(-360px);
}

/* Right panel positions */
.logo:hover .panel-right:nth-of-type(5),
.logo.opened .panel-right:nth-of-type(5) {
    transform: translateY(-0%) translateX(120px);
}
.logo:hover .panel-right:nth-of-type(6),
.logo.opened .panel-right:nth-of-type(6) {
    transform: translateY(-0%) translateX(240px);
}
.logo:hover .panel-right:nth-of-type(7),
.logo.opened .panel-right:nth-of-type(7) {
    transform: translateY(-0%) translateX(360px);
}
